

  <nav class="navbar navbar-light" style="background-color: #A9A9A9;">
      <div class="container-fluid">

          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <a href="#" class="navbar-brand">FINDMYBUYS</a>
          </div>

          <div class="collapse navbar-collapse" id="mainNavBar">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>

      </div>
  </nav>-->

  <h1> <%= Data.UserData[0].name + ' '+ Data.UserData[0].Fname +' buys' %> </h1>
    <hr>


</body>

</html>
<!--  <h1> <%= Data.UserData[0].name + ' '+ Data.UserData[0].Fname +' buys' %> </h1>
  <hr>


  <div class="row">
    <div class="col-sm-8">
      <% for(var i=0, j=1; i<Data.BuysData.length; i++, j++) { %>
            <h3> <%= j+'.'+ Data.BuysData[i].Descr %> </h3>
      <%  }  %>
    </div>



    <div class="col-sm-4">col-sm-4</div>
  </div>



          </div>
          <div class="col-4">
            <label for="success" class="btn btn-success" >Arrived
              <input type="checkbox" id="success" class="badgebox">
              <span class="badge">&check;</span>
            </label>
          </div>
      </div>
      <hr>
    <%  }  %>
-->

  <!--
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th>Your Buys </th>
								<th>P Date</th>
								<th>A date</th>
								<th>Supplier</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                <% for(var i=0; i<Data.BuysData.length; i++) { %>
                    <td> <%= Data.BuysData[i].Descr %> </td>
                    <td> <%= Data.BuysData[i].Pdate %> </td>
                    <td> <%= Data.BuysData[i].Adate %> </td>
                    <td> <%= Data.BuysData[i].SuppDetails %> </td>
              <%  }  %>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>
-->
